
/*------------------------------------*\
    Basic reset / initialize
\*------------------------------------*/

*,
*:after,
*:before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	text-rendering: optimizeLegibility;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
}

fieldset,
img {
  border: 0;
}

legend {
  color: inherit;
}

ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption,
th,
td {
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}

input,
textarea,
select {
	font-size: inherit;
	line-height: inherit;
}

abbr,
acronym {
	border-bottom: .1em dotted;
	cursor: help;
}




/*------------------------------------*\
    Global
\*------------------------------------*/

/* html element 62.5% font-size for REM use */
html {
	font-size: 62.5%;
}
body {
	font-family: 'CircularStd-Book', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.8rem;
	color: #444;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
	vertical-align: bottom;
}

main {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  overflow:  hidden;
}






/*------------------------------------*\
	Typography
\*------------------------------------*/


@font-face {
	font-family: 'CircularStd-Book';
	src: url('../fonts/CircularStd/CircularStd-Book.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'CircularStd-Medium';
	src: url('../fonts/CircularStd/CircularStd-Medium.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'CircularStd-Bold';
	src: url('../fonts/CircularStd/CircularStd-Bold.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'CircularStd-Black';
	src: url('../fonts/CircularStd/CircularStd-Black.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}



h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: bold;
  margin-bottom: 0.5em;
}

h1, .h1 {
	font-size: 3.6rem;
}

h2, .h2 {
	font-size: 2.4rem;
}

h3, .h3 {
	font-size: 1.8rem;
}

h4, .h4 {
	font-size: 1.6rem;
}

h5, .h5 {
	font-size: 1.4rem;
}

h6, .h6 {
	font-size: 1.2rem;
}

p {
  margin-bottom: 0.5em;
}

b,
strong {
	font-weight: bold;
}








/*------------------------------------*\
    Buttons / links
\*------------------------------------*/

.btn,
button,
input[type="button"],
input[type="submit"] {
	cursor: pointer;
}

button:focus,
input[type="button"]:focus,
input[type="submit"]:focus {
	outline: 0;
}

a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	color: inherit;
}
a:focus {
	outline: 0;
}
a:hover,
a:active {
	outline: 0;
}





/*------------------------------------*\
    Forms
\*------------------------------------*/

label {

}

input,
textarea {

}

input:focus,
textarea:focus {
	outline: 0;
}



::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: inherit;
}
::-moz-placeholder { /* Firefox 19+ */
  color: inherit;
}
:-ms-input-placeholder { /* IE 10+ */
  color: inherit;
}
:-moz-placeholder { /* Firefox 18- */
  color: inherit;
}


.field {
	position: relative;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

.error {
	color: red;
}







/*------------------------------------*\
    Header
\*------------------------------------*/

header {

}










/*------------------------------------*\
    Footer
\*------------------------------------*/

footer {

}








/*------------------------------------*\
    Standard page
\*------------------------------------*/

main>div {
	margin: 3em 0;
	position:  absolute;
	top: 0;
	bottom:  0;
	left:  0;
	right:  0;
}










/*------------------------------------*\
    Global view
\*------------------------------------*/

.global-view {
left:  -100%;
right:  100%;
}













/*------------------------------------*\
    Bubble view
\*------------------------------------*/

.bubble-view {

}

















/*------------------------------------*\
    Thread view
\*------------------------------------*/

.thread-view {
left:  100%;
right: -100%;
}











/*------------------------------------*\
    Responsive
\*------------------------------------*/

@media only screen and (min-width:320px) {

}
@media only screen and (min-width:480px) {

}
@media only screen and (min-width:768px) {

}
@media only screen and (min-width:1024px) {

}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {

}










/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background: #04A4CC;
	color: #FFF;
	text-shadow:none;
}
::-webkit-selection {
	background: #04A4CC;
	color: #FFF;
	text-shadow:none;
}
::-moz-selection {
	background: #04A4CC;
	color: #FFF;
	text-shadow:none;
}
