.thread {
  display: grid;
  grid-template-rows: 120px 1fr 60px;

  >.preview {
    padding: 0 1rem;
    border-bottom: .05rem solid #e7e9ed;
    >.heading {
      display: flex;
      align-items: center;
    }
  }
  >.messages {
    height: calc(100vh - 180px);
    overflow-y: auto;
    padding: 1rem;
  }
  
}