.thread-panel {
  position: absolute 0 0 0 auto;
  background-color: #fafafa;
  width: 320px;
  height: 100vh;
  overflow-y: auto;

  .thread {
    >.preview {
      padding: 0 1rem;
      border-bottom: 1px solid #e7e9ed;
      >.heading {
        display: flex;
        align-items: center;
      }
    }
    >.messages {
      padding: 0;
    }
  }
}