.thread-panel {
  position: absolute 0 0 0 auto;
  background-color: #f8f9fa;
  border-left: .05rem solid #e7e9ed;
  width: 320px;
  height: 100vh;
  overflow-y: auto;

  .thread {
    >.preview {
      padding: 0 1rem;
      border-bottom: .05rem solid #e7e9ed;
      >.heading {
        display: flex;
        align-items: center;
      }
    }
    >.messages {
      padding: 1rem;
    }
  }
}