
.bubble {
  overflow: auto;
  position: relative;
}


.bubble-title {
  position: sticky;
  top: -1rem;
  padding: 1rem 1rem 0 1rem;
  margin: 0;
  background-color: var(--elevated-background-color);
  height: 3rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.bubble-description {
  padding: 1rem;
  margin: 0;
  background-color: var(--elevated-background-color);
}

.bubble-info {
  position: sticky;
  top: 1.95rem;
  display: flex;
  align-items: center;
  padding: 0 1rem 0.5rem 1rem;
  margin: 0;
  font-size: 0.8rem;
  color: var(--text-muted-color);
  background-color: var(--elevated-background-color);
  border-bottom: var(--border-style);
  margin-bottom: 1rem;
}

.thread-list {
  border-top: var(--border-style);
}

.thread-preview {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: var(--elevated-background-color);
  border-bottom: var(--border-style);
  .thumbnail {
    height: 3rem;
    width: 3rem;
    background-color: var(--text-muted-color);
    margin-right: 1rem;
  }
  .title {
    margin: 0;
  }
  &:hover .title {
    text-decoration: underline;
  }
  .info {
    font-size: 0.8rem;
    color: var(--text-muted-color);
  }
}