
.bubble {
  overflow: auto;
}

.bubble-header {
  padding: 1rem 3rem;
  background-color: var(--elevated-background-color);
  border-bottom: var(--border-style);
  margin-bottom: 1rem;
}

.thread-list {
  border-top: var(--border-style);
}

.thread-preview {
  display: block;
  padding: 1rem 3rem;
  background-color: var(--elevated-background-color);
  border-bottom: var(--border-style);
  &:hover .title {
    text-decoration: underline;
  }
  .title {
    margin: 0;
  }
  .info {
    font-size: 0.8rem;
    opacity: 0.4;
  }
}