
/*------------------------------------*\
    Basic reset / initialize
\*------------------------------------*/

/* *,
*:after,
*:before {
	box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

/*------------------------------------*\
    Global
\*------------------------------------*/
/* 
html {
	--main-color: #666666;
	--main-background-color: #fafafa;
	--main-border-color: #e6e6e6;

	--primary-accent-color: #7967ff;
	--secondary-accent-color: #ff6369;
	--tertiary-accent-color: #428ce1;
} */


body {
  position: relative;

  background: #fff;
  color: #50596c;
  
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
  &:first-child {
    margin-top: 0;
  }
}

button, input, select, textarea {
  color: inherit;
  margin-top: 1rem;
  padding: 0.5rem;
  &:first-child {
    margin-top: 0;
  }
}


img {
  max-width: 100%;
}

::-webkit-scrollbar {
  display: none;
}


/* ::selection {
	background: var(--secondary-accent-color);
	color: white;
	text-shadow:none;
} */


.app {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}


.layout {

  display: grid;
  grid-template-columns: 240px 1fr 420px;
  

  >* {
    height: 100vh;
    overflow-y: auto;
  }

  
  >.left-menu {
    grid-column: 1/2;
  }
  >.main-container {
    grid-column: 2/3;
  }
  >.thread-panel {
    grid-column: 3/4;
  }
}





