.left-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20rem;
  padding: 1rem;
  background-color: var(--dark-background-color);
  color: var(--background-color);
  nav>ul {
    padding: 0;
  }
  ul {
    padding-left: 1rem;
  }
  a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    margin: 0.25rem 0;
    &:hover,
    &:focus {
      background-color: var(--dark-hover-color);
      outline: none;
    }
    &:active {
      background-color: var(--dark-active-color);
    }
  }
}

.main-content {
  margin-left: 20rem;
  padding: 3rem;
}