.main-menu {
  // position: absolute 0 auto 0 0;
  min-width: 280px;
  background-color: #fafafa;
  >.heading {
    padding: 2rem;
  }
  >.menu {
    padding: 1rem;
    >.bubble-link {
      display: block;
      color: inherit;
      border-radius: .1rem;
      margin: 0.5rem 0;
      padding: 0.5rem 1rem;
      text-decoration: none;
      background: transparent;
      border: none;
      cursor: pointer;
      &:hover, &:focus {
        background: #f1f1fc;
        color: #5755d9;
      }
      &:focus {
        box-shadow: 0 0 0 0.1rem rgba(87,85,217,.2);
      }
    }
  }
}