.spinner {
  animation: loading .5s infinite linear;
  border: .1rem solid #5755d9;
  border-radius: 50%;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  z-index: 1;
  height: 1.6rem;
  margin-left: -.8rem;
  margin-top: -.8rem;
  width: 1.6rem;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}