.thread {

  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .header {
    padding: 1rem;
    background-color: var(--elevated-background-color);
    border-bottom: var(--border-style);
  }

  .message-list {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    .scroller {
      position: absolute 0;
      overflow: auto;
      display: flex;
      flex-direction: column-reverse;
    }
  }

  .message {
    margin: 0.5rem 1rem;
    .info {
      display: flex;
      align-items: center;
      b {
        margin-right: 0.5rem;
      }
      span {
        font-size: 0.8rem;
        color: var(--text-muted-color);
      }
    }
  }

  .bottom {
    padding: 1rem;
    background-color: var(--elevated-background-color);
    border-top: var(--border-style);
  }
}