.bubble-view {

  .bubble {
    max-width: 768px;
    margin: 0 auto;

    >.heading {
      padding: 0 1rem;
      border-bottom: .05rem solid #e7e9ed;
      display: flex;
      align-items: center;
    }

    >.listing {
      max-height: calc(100vh - 120px);
      overflow-y: auto;
      padding: 1rem;
    }

  }

}