<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test hyperapp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/style.css">

  </head>
  <body>
    <main>

    </main>

    <!-- TODO: use slim socket io -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.min.js"></script>
  </body>
</html>
