
/*------------------------------------*\
    Basic reset / initialize
\*------------------------------------*/

*,
*:after,
*:before {
	box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*------------------------------------*\
    Global
\*------------------------------------*/


html {
	--main-color: #666666;
	--main-background-color: #fafafa;
	--main-border-color: #e6e6e6;

	--primary-accent-color: #7967ff;
	--secondary-accent-color: #ff6369;
	--tertiary-accent-color: #428ce1;
}
body {
	font-family: 'CircularStd-Book', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	/* font-family: 'Lato', sans-serif; */
	font-size: 1.6rem;
	color: var(--main-color);
	background-color: var(--main-background-color);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
	font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


::selection {
	background: var(--secondary-accent-color);
	color: white;
	text-shadow:none;
}
::-webkit-selection {
	background: var(--secondary-accent-color);
	color: white;
	text-shadow:none;
}
::-moz-selection {
	background: var(--secondary-accent-color);
	color: white;
	text-shadow:none;
}




/*------------------------------------*\
	Typography
\*------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Lato');

@font-face {
	font-family: 'CircularStd-Book';
	src: url('../fonts/CircularStd/CircularStd-Book.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'CircularStd-Medium';
	src: url('../fonts/CircularStd/CircularStd-Medium.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'CircularStd-Bold';
	src: url('../fonts/CircularStd/CircularStd-Bold.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'CircularStd-Black';
	src: url('../fonts/CircularStd/CircularStd-Black.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}




/*------------------------------------*\
    Buttons / links
\*------------------------------------*/

button,
input[type="button"],
input[type="submit"] {
	cursor: pointer;
	background: none;
	border: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

button:focus,
input[type="button"]:focus,
input[type="submit"]:focus {
	outline: 0;
}

a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	color: inherit;
	text-decoration: underline;
}




/*------------------------------------*\
    Forms
\*------------------------------------*/

label {

}

input,
textarea {
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: inherit;
	opacity: 0.5;
}
::-moz-placeholder { /* Firefox 19+ */
  color: inherit;
	opacity: 0.5;
}
:-ms-input-placeholder { /* IE 10+ */
  color: inherit;
	opacity: 0.5;
}
:-moz-placeholder { /* Firefox 18- */
  color: inherit;
	opacity: 0.5;
}



fieldset {
	position: relative;
	margin: 3rem 0;
}
